name: CI-CD Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - run: pip install -r app/requirements.txt
      - run: echo "No tests yet"   # replace with pytest later

  build-and-push:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - run: |
          IMAGE_TAG=${{ github.sha }}
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-k8s:${IMAGE_TAG} .
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-k8s:${IMAGE_TAG} \
                     ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-k8s:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-k8s:${IMAGE_TAG}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-k8s:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - uses: actions/checkout@v4
      - uses: azure/setup-kubectl@v3
      - run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config
      - run: |
          kubectl set image deployment/fastapi-deployment \
          fastapi=${{ secrets.DOCKERHUB_USERNAME }}/fastapi-k8s:latest
          kubectl rollout status deployment/fastapi-deployment --timeout=60s || \
          kubectl rollout undo deployment/fastapi-deployment
